@{
    ViewData["Title"] = "Student Page";
}

<div class="content">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Students</h4>
            @ViewContext.RouteData.Values["Area"].ToString()
            @ViewContext.RouteData.Values["Controller"].ToString()
            @ViewContext.RouteData.Values["Action"].ToString()
        
      
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="/">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="/Students">Students</a>
                </li>
               
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Students</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="basic-datatables" class="display table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>LRN</th>
                                        <th>First Name</th>
                                        <th>Middle Name</th>
                                        <th>Last Name</th>
                                        <th>Grade</th>
                                        <th>Section</th>
                                        <th>Birthday</th>
                                        <th>Address</th>
                                        <th>UpdateAt</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>283456789012</td>
                                        <td>Alex Bryan</td>
                                        <td>Quilala</td>
                                        <td>Arellano</td>
                                        <td>12</td>
                                        <td>ICTE201P</td>
                                        <td>11/28/1998</td>
                                        <td>San Mateo, Rizal</td>
                                        <td>06/08/2023</td>
                                    </tr>
                                    <tr>
                                        <td>223456789015</td>
                                        <td>Mark</td>
                                        <td>Ayala</td>
                                        <td>Cruz</td>
                                        <td>11</td>
                                        <td>ICTE101P</td>
                                        <td>10/28/1998</td>
                                        <td>San Mateo, Rizal</td>
                                        <td>06/08/2023</td>
                                    </tr>
                                    <tr>
                                        <td>123456789012</td>
                                        <td>Juan</td>
                                        <td>Cruz</td>
                                        <td>Del Rosario</td>
                                        <td>12</td>
                                        <td>ICTE201P</td>
                                        <td>12/25/1998</td>
                                        <td>Manila</td>
                                        <td>06/08/2023</td>
                                    </tr>
                                    <tr>
                                        <td>423456549012</td>
                                        <td>John</td>
                                        <td>English</td>
                                        <td>Doe</td>
                                        <td>11</td>
                                        <td>ICTE101P</td>
                                        <td>09/28/1998</td>
                                        <td>Marikina</td>
                                        <td>06/08/2023</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>

<!-- Datatables -->
<script src="~/lib/azzara-admin/assets/js/plugin/datatables/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#basic-datatables').DataTable({
        });

        $('#multi-filter-select').DataTable({
            "pageLength": 5,
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            }
        });

        // Add Row
        $('#add-row').DataTable({
            "pageLength": 5,
        });

        var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $('#addRowButton').click(function () {
            $('#add-row').dataTable().fnAddData([
                $("#addName").val(),
                $("#addPosition").val(),
                $("#addOffice").val(),
                action
            ]);
            $('#addRowModal').modal('hide');

        });
    });
</script>
